$font-base: 'Open Sans', sans-serif;
$font-headline: 'Playfair Display';

$body-bg: #19161B;
$body-color: #E7E7E7;

$primary-color: #38313d;

$form-control-bg: #19161B;
$form-control-color: #FFF;
$form-control-placeholder: #FFF;

$btn--primary-bg: $primary-color;
$btn--primary-color: #FFF;